<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HomePage</title>
  </head>
  <body>
    <% if (kindOfDay === "monday") { %>
      <p style="color: red">Hello today is a <%= kindOfDay %></p>
    <% } else { %>
    <p style="color: blue">Hello today is a <%= kindOfDay %></p>
    <% } %>
  </body>
</html>
